.progressive{
	overflow: hidden;
}


.progressive img.preview {
	filter: blur(.25vw);

	&.unblur{
		filter: none;
	}

}

.progressive img.reveal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	will-change: transform, opacity;
	animation: reveal .5s ease-out;

	&.revealed{
		position: static;
	}
}

@keyframes reveal {
	0% { opacity: 0;}
	100% { opacity: 1;}
}