

.page-id-13{
	.slick{

		.slick-dots{
			bottom: 125px;
			display: none;
		}

		.slick-arrow{
			margin-top: -75px;
		}

		.slide-caption-container{
			//height: 100px;
		}

		.slide-caption{
			padding-top: 10px;
		}
	}
}

#intro{
	padding-bottom: 0;
}

.careers-intro-images{


	.career-intro-image{
		height: 100%;
		float: left;
		width: 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}


}