
/* CARDS */

.card{
	position: relative;

	&.card-project{
		overflow: hidden;

		a{
			display: block;
		}

		.card-project-title{
			position: absolute;
			bottom: 0px;
			right: 0px;
			width: 90%;
			height: 50px;
			margin-bottom: 0;
			font-size: 27px;
			opacity: 0;
			color: white;
			text-shadow: 0px 0px 17px transparentize(black,.05);
			padding: 10px 20px;
			@extend .align-items-end;
			@extend .justify-content-end;
			text-align: right;
			transition: opacity .2s;
			display: flex;

			@media screen and (max-width: $md) {
				font-size: 19px;
				padding: 7px 15px;
			}

			@media screen and (max-width: $sm) {
				font-size: 17px;
				line-height: 1.2;
				padding: 5px 10px;
			}
		}

		&:hover{
			.card-project-title{
				transition: opacity .2s;
				opacity: 1;
			}
		}
	}

	&.card-project-related{
		.project-title{
			position: static;
			background: none;
			color: $dark;
			height: auto;
			display: flex;
			margin-top: 1em;
			font-size: 19px;

			@media screen and (max-width: $sm) {
				font-size: 15px;
				line-height: 1.2;
				margin-top: .5em;
			}
		}
	}

	&.card-news{

		&:hover{

			.card-news-date{
				color: $brand;
			}

			.card-news-image{
				filter: brightness(.8);
			}

		}

		.post-link{
			//transition: all .2s;
			display: block;
		}

		.card-news-image{
			transition: all .2s;
			position: relative;;
		}

		.card-news-title{
			margin-bottom: 0;
			margin-top: 0em;
			font-size: 23px;
			transition: all .2s;
			line-height: 1.25;

			@media screen and (max-width: $md) {
				font-size: 20px;
			}

			@media screen and (max-width: $sm) {
				font-size: 16px;
			}
		}


		.card-news-date{
			@extend .uppercase;
			color: lighten($medium,10%);
			@extend .tracked-less;
			@extend .bold;
			font-size: 13px;
			margin-bottom: 10px;
			margin-top: 10px;
			transition: all .2s;

			@media screen and (max-width: $sm) {
				font-size: 10px;
			}

		}

		.card-news-author{
			padding-left: 15px;
		}

		.card-news-excerpt{
			@extend .italic;
			font-style: italic;
			color: $medium;
			//display: none;
		}
	}

	&.card-thought-related{
		.thought-title{
			position: static;
			background: none;
			color: $dark;
			height: auto;
			display: flex;
			margin-top: 1em;
			font-size: 19px;

			@media screen and (max-width: $sm) {
				font-size: 15px;
			}
		}
	}
}
