

.page-id-13{
	.slick{

		.slick-dots{
			bottom: 125px;
		}

		.slick-arrow{
			margin-top: -75px;
		}

		.slide-caption-container{
			//height: 100px;
		}

		.slide-caption{
			padding-top: 10px;
		}
	}
}