
.page-id-15{
	#distudio{
		.block-background{
			display: none;
		}
	}


	@media screen and (max-width: $sm) {
		.page-hero {
			height: calc(200px + #{$container-fluid-padding-mobile} + #{$nav-height-mobile});
			.ws-map{
				height: 200px;
			}
		}
	}

}


#locations{
	padding-bottom: 2em;

	address{
		font-size: 16px;

		@media screen and (max-width: $sm) {
			margin-bottom: 1em;
		}
	}

	.location-contacts{
		max-width: 300px;
	}

	.accordion{
		position: relative;
		left: -2px;

		[data-control]{
			background: none;
			padding: 12px 0 0px 0;
			border: none;
			border-bottom: 1px solid lighten($medium,20%);
			border-radius: 0;

			h4{
				@extend .uppercase;
				@extend .bold;
				color: $medium;
				font-size: 15px;
				@media screen and (max-width: $sm) {
					font-size: 13px;
				}
			}
		}

		.icon{
			right: 0;
			//top: 25px;
			&:before{
				color: $medium;
			}
		}

		.accordion-content-inner{
			background: none;
			border: none;
			padding-left: 0;
			padding-right: 0;

			h4{
				font-size: 17px;
			}
		}

	}

}

#contact-form{
	label{
		//color: white;
		font-weight: normal;
		font-size: 21px;

		@media screen and (max-width: $md) {
			font-size: 18px;
		}

		@media screen and (max-width: $sm) {
			font-size: 15px;
		}
	}

	input,textarea{
		background: $white;
		//max-width: 480px;
	}

	#field_1_2,#field_1_3{
		float: left;
		clear: none;
		width: 50%;

		@media screen and (max-width: $sm) {
			width: 100%;
			float: none;
		}

		input{
			width: 100%;
		}
	}

	#field_1_2{
		padding-right: 20px;
		@media screen and (max-width: $sm) {
			padding-right: 0;
		}
	}

	#field_1_3{
		padding-left: 20px;
		@media screen and (max-width: $sm) {
			padding-left: 0;
		}
	}

	textarea{
		height: 180px;
	}

	input[type="submit"]{
		margin-top: 1em;
		padding: 15px 15px 12px 15px;
		border: none;
		background: $brand;
		@extend .bold;

		@media screen and (max-width: $xs) {
			max-width: none;
		}

		&:hover{
			background: $brand;
			color: white;
		}
	}
}