

#footer{
	position: relative;
	z-index: 2;
	background: white;
	margin-bottom: 32px;
	margin-top: 32px;

	.footer-background{
		width: calc(100% - 64px);
		left: 32px;
		@extend .background;
		background-size: cover;
		background-position: center center;
	}
	
	*{
		color: white;
		text-shadow: 1px 1px 0px transparentize(black, .9);
	}

	#footer-logo{
		max-width: 130px;
	}

	.footer-social-links{
		margin-top: .75em;

		img{
			width: 25px;
			margin-right: 15px;
		}
	}

	.footer-locations{

		li{
			margin-bottom: .75em;
		}
	}


	.footer-links{
		li{
			margin-bottom: .75em;
		}
	}

	.site-credit{
		font-size: 15px;
		opacity: .75;
	}

}