
$footer-offset: $container-fluid-padding/3;
$footer-offset-2: $footer-offset * 2;
$footer-offset-2-mobile: $container-fluid-padding-mobile * 2;

#footer{
	position: relative;
	z-index: 10;
	background: white;
	margin-bottom: $footer-offset;
	margin-top: $footer-offset;
	//margin: $container-fluid-padding;
	//width: calc(100% - 200px);

	@media screen and (max-width: $sm) {
		padding-top: 2em;
	}

	.footer-background{
		width: calc(100% - #{$footer-offset-2});
		left: $footer-offset;
		@extend .background;
		background-size: cover;
		background-position: center center;
		border-radius: 2px;
		-webkit-filter: brightness(.95);
		filter:  brightness(.95);

		@media screen and (max-width: $sm) {
			width: calc(100% - #{$footer-offset-2-mobile});
			left: $container-fluid-padding-mobile;
		}
	}

	.container-fluid{
		@media screen and (max-width: $sm) {
			padding-left: $container-fluid-padding-mobile * 2;
		}
	}

	.footer-1{
		@media screen and (max-width: $sm) {
			margin-bottom: 2em;
		}
	}

	.footer-col-1{
		@media screen and (max-width: $sm) {
			//order: 1;
		}
	}

	.footer-col-2{
		@media screen and (max-width: $sm) {
			//order: 3;
		}
	}

	.footer-col-3{
		@media screen and (max-width: $sm) {
			//order: 2;
		}
	}


	
	*{
		color: white;
		text-shadow: 1px 1px 1px transparentize(black, .7);
	}

	#footer-logo{
		max-width: 130px;
	}

	.footer-social-links{
		//margin-top: .3em;

		img{
			width: 20px;
			margin-right: 15px;
		}
	}

	.footer-locations{

		li{
			display: inline-block;
			margin-right: 1.5em;

			@media screen and (max-width: $lg) {
				margin-right: 1em;
				//text-align: center;
				//display: block;
			}

			@media screen and (max-width: $xs) {
				display: block;

				a{
					padding-bottom: 10px;
				}
			}

			a{
				@extend .button;
				@extend .white;
				@extend .bold;
				font-size: 16px;
				padding-bottom: 10px;

				@media screen and (max-width: $lg) {
					font-size: 15px;
				}

				&:hover{
					color: white !important;
				}
			}
		}
	}

	#footer-distudio-logo-small{
		width: 18px;
		float: left;
		margin-right: 10px;
		position: relative;
		top: 6px;
	}

	.footer-distudio{
		position: relative;
		//left: 70px;
		//margin-top: 60px;
	}

	#footer-distudio-logo{
		width: 70px;
		float: left;
		margin-right: 30px;
	}

	#footer-distudio-statement{
		//width: 120px;
		font-size: 19px;
		line-height: 1.2;
		@extend .bold;
		color: $distudio;
		text-shadow: none;
		margin-top: .5em;
	}


	.footer-links{
		li{
			margin-bottom: .95em;

			a{
				font-size: 22px;
				border-top: 2px solid transparent;

				@media screen and (max-width: $sm) {
					font-size: 17px;
				}
				&:hover{
					border-color: darken($brand,5%);
				}
			}
		}
	}

	.site-credit-container{
		display: flex;
		@media screen and (max-width: $sm) {
			display: block;
		}
	}

	.site-credit{
		font-size: 15px;
		opacity: .75;
		margin-top: 20px;
		text-align: right;

		br{
			//display: none;
		}

		@media screen and (max-width: $sm) {
			font-size: 13px;
			line-height: 1.6;

			.ml2{
				margin-left: 0;
			}

			br{
				display: block;
			}
		}
	}

}