
/* STRUCTURE */


img,.block-background,.slick-slide,.page_hero,.card{
	//filter: grayscale(1);
}

#projects-grid{
	img,.card{
		//filter: grayscale(.4);
	}
}


body{
	background-color: $body-background-color;
	background: white;

	@media screen and (max-width: $sm) {
		//padding-top: $nav-height-mobile;
	}
}


/* make bootstrap gutters smaller on small screens */
.row{
	@media screen and (max-width: $sm) {
		margin-left: -10px;
		margin-right: -10px;
	}

	&.row-full{
		margin: 0;
	}

	&.row-100{
		width: 100%;
	}
}


#content{
	//overflow: hidden;
	//padding-top: $nav-height;

	//margin-top: -$nav-height;

	@media screen and (max-width: $sm) {
		//padding-top: $nav-height-mobile;
	}
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
	@media screen and (max-width: $sm) {
		padding-left: 10px;
		padding-right: 10px;
	}
}



/* customize bootstrap container fluid parameters */
.container-fluid{
	max-width: $container-fluid-max-width;
	padding-left: $container-fluid-padding;
	padding-right: $container-fluid-padding;

	@media screen and (max-width: $md) {
		padding-left: $container-fluid-padding-md;
		padding-right: $container-fluid-padding-md;
	}

	@media screen and (max-width: $sm) {
		padding-left: $container-fluid-padding-mobile;
		padding-right: $container-fluid-padding-mobile;
	}	

	&.container-fluid-stretch{
		max-width: none;
	}

}

.cf-top{
	padding-top: $container-fluid-padding;

	@media screen and (max-width: $md) {
		padding-top: $container-fluid-padding-md;
	}

	@media screen and (max-width: $sm) {
		padding-top: $container-fluid-padding-mobile;
	}	
}

.cf-bottom{
	padding-bottom: $container-fluid-padding;

	@media screen and (max-width: $md) {
		padding-bottom: $container-fluid-padding-md;
	}

	@media screen and (max-width: $sm) {
		padding-bottom: $container-fluid-padding-mobile;
	}	
}


.col-right{
	@extend .col-12;
	@extend .col-sm-12;
	@extend .col-md-8;
	@extend .col-lg-9;
	@extend .col-xl-8;

	&.offset{
		@extend .offset-sm-0;
		@extend .offset-md-4;
		@extend .offset-lg-3;
		@extend .offset-xl-4;
	}
}

.col-left{
	@extend .col-12;
	@extend .col-sm-12;
	@extend .col-md-4;
	@extend .col-lg-3;
	@extend .col-xl-4;
}


.padded{
	padding-top: 14vh;
	padding-bottom: 13vh;
}

.padded-top{
	padding-top: 14vh;
}

.padded-bottom{
	padding-bottom: 13vh;
}

.padded-less{
	padding-top: 7vh;
	padding-bottom: 6vh;
}

.padded-less-top{
	padding-top: 7vh;
}

.padded-less-bottom{
	padding-bottom: 6vh;
}

.padded-more{
	padding-top: 20vh;
	padding-bottom: 18vh;
}

.padded-more-top{
	padding-top: 20vh;
}

.padded-more-bottom{
	padding-bottom: 18vh;
}


/* MISC */


*{
	word-wrap: break-word;
}

a{
	color: $dark;

	&:hover{
		color: $brand;
	}

	&:focus{
		outline: none;
		text-decoration: none;
	}

}

input{
	&:focus{
		outline: none;
	}
}


.brand-underline{
	//border-top: 3px solid $brand;
	padding-top: 20px;

	position: relative;

	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background: $brand;
		margin-bottom: 10px;
		transition: all 1s;
	}
}


/* sitewide button styles */

$text-button: (
	xs: (12px, 12px),
	sm: (13px, 12px),
	md: (14px, 12px),
	lg: (15px, 12px),
	xl: (17px, 12px)
	);

.button{
	padding: 20px 0;
	font-family: $font-main;
	color: $medium;
	@extend .bold;
	@extend .uppercase;	
	@extend .tracked-less;
	display: inline-block;
	text-align: center;
	@include text-size($text-button);	
	position: relative;
	border: 0;
	//border-top: 3px solid transparent;

	&:before{
		@extend .psuedo;
		height: 0;
		border-top: 3px solid $brand;
		width: 0;
		transition: width .25s;
	}

	&:hover{

		&:before{
			width: 100%;
		}
	}

	&.white{
		color: white;

		&:hover{
			color: white;
		}
	}

	&.distudio{
		color: $distudio;
		&:before{
			border-color: $distudio;
		}

		&:hover{
			color: $distudio;
		}
	}

	&.button-small{
		padding: 5px 8px 2px 8px;
		font-size: 13px;
	}

	&.button-centered{
		margin: auto;
		display: block;
	}

	&.button-full{
		width: 100%;
		padding: 20px 0;
		border-radius: 0;
	}

	&:hover{
		cursor: pointer;
		color: $dark;
		border-color: $dark;
	}

	&:focus{
		outline: none;
		box-shadow: none;
	}

	@media screen and (max-width: $sm) {
		padding: 15px 0;
	}


}


/* BRANDING */

.bg-brand-dark{
	background: $brand-dark;
}

.brand-dark{
	color: $brand-dark;
}



/* LOADER */

.loader-icon {
	width: 50px;
	height: 50px;
	animation: spin 3s linear infinite;
	margin: 60px auto;
	display: none;

	&.active{
		display: block;
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}



/* slick components(overrides scss/utilities/slick-components.scss) */

.slick-arrow{
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 10px;
	z-index: 2;
	font-size: 0;
	height: 100px;
	width: 50px;
	background: none;
	border: none;
	outline: none;
	padding: 0;

	@media screen and (max-width: $md) {
		//left: 0px;
		height: 80px;
		width: 30px;
		top: 50%;
		margin-top: -40px;
	}	

	&:hover{
		cursor: pointer;
	}

	&:focus{
		outline: none;
	}

	&:after{
		content: '‘';
		font-family: modern_pictograms_proregular;
		display: block;
		width: 50px;
		height: 100px;
		line-height: 100px;
		font-size: 90px;
		color: white;
		text-align: center;

		@media screen and (max-width: $md) {
			width: 30px;
			height: 80px;
			line-height: 80px;
			font-size: 60px;
		}			
	}

	&.slick-next{
		left: auto;
		right: 10px;

		@media screen and (max-width: $md) {
			//right: 5px;
		}			

		&:after{
			content: '—';			
		}

	}

}

.slick-dots{
	position: absolute;
	left: 50%;
	@include transform(translate(-50%,0));
	bottom: 50px;
	
	li{
		display: inline-block;
		margin-right: 10px;

		&.slick-active button{
			position: relative;
			top: -1px;
			height: 6px;
		}
	}

	button{
		background: none;
		border: none;
		outline: none;	
		font-size: 0;
		display: block;
		width: 30px;
		height: 3px;
		padding: 0px;
		background: $light;
		border: 1px solid darken($medium,7%);

		@media screen and (max-width: $sm) {
			width: 25px;
		}

		&:hover{
			cursor: pointer;
		}	

	}
}


/* site credit */

.site-credit h4{
	font-size: 15px;

	@media screen and (max-width: $sm) {
		font-size: 13px;
		margin-left: 10px;
	}
}
