
.home{

	#nav{
		background: none;
	}

	#content{
		//margin-top: -60px;
	}

	.section-heading {
		opacity: 0;
		transition: opacity 1s;

		span{
			display: inline-block;
		}
	}

	.brand-underline{
		&:before{
			transition: all 1.5s;
			width: 0;
		}
	}

	#tagline-text, #intro-link,#projects-link,#news-link{
		opacity: 0;
		transition: opacity 2s;
	}

	@for $i from 0 through 9 {
		.impact-statistic{
			opacity: 0;
			transition: opacity 1s;

			&:nth-child(#{$i}) {

				transition-delay: $i * (1s / 10);
			}
		}
	}

	.activated{

		.section-heading,#tagline-text, #intro-link,#projects-link,#news-link,.impact-statistic{
			opacity: 1;
		}

		.brand-underline{
			&:before{
				width: 100%;
			}
		}

	}

	#projects-link,#news-link{
		a{
			color: $medium;
			font-size: 16px;
		}
	}

	.section-heading{
		margin-top: 5px;
	}



	#grid-home{
		padding-bottom: 10em;
	}

}


@keyframes kenburns {
	0% {
		transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
	}
	50% {
		transform: scale3d(1.1, 1.1, 1.1) translate3d(-30px, -20px, 0px);
		animation-timing-function: ease-in;
	}
	100% {
		transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
	}
}


#home-hero{
	//width: calc(100% - #{$container-fluid-padding * 2});
	//height: calc(100% - #{$container-fluid-padding * 2});
	//padding-left: $container-fluid-padding;
	//padding-top: $container-fluid-padding;
	height: 100vh;
	padding: $container-fluid-padding;

	video{
		min-height: 100%;
		min-width: 100%;
		width: auto;
		height: auto;
		max-width: none;
		max-height: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.slick-slide{
		height: calc(100vh - #{$container-fluid-padding * 2});
	}

	.slide-image{
		height: calc(100vh - #{$container-fluid-padding * 2});
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.slick-dots{
		display: none !important;
	}

	.home-hero-image-container{
		position: relative;
		overflow: hidden;
		width: 100%;
		height: calc(100vh - #{$container-fluid-padding * 2});
		
	}

	.page-hero-image{
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		animation: kenburns 20s infinite;
		filter: brightness(.9);

		&:after{
			display: none;
		}
	}
}


#scrolly{
	position: absolute;
	bottom: 0px;
	height: $container-fluid-padding;
	left: 0;
	width: 100%;
	//background: yellow;


	a{
		display: block;
		//text-indent: 78px;
		display: flex;
		@extend .align-items-center;

		.icon:before{
			font-size: 110px;
			color: $medium;
			text-shadow: 0px 0px 7px white;
		}

		svg{
			width: 50px;
			margin-top: 45px;
			//height: 100%;

			path{
				fill: lighten($medium,10%);
			}
		}
	}
}



.home-intro-container{
	//background: -webkit-linear-gradient(35deg, $brand-dark 0%, darken($brand-dark,10%) 100%);
	background: #aaa;
	//background: -webkit-linear-gradient(40deg, #ddd 0%, #aaa 45%);
	background: $medium;
	background: transparentize(darken($medium,7%), .4);
	background: -webkit-linear-gradient(40deg, transparentize($dark, .93) 0%, transparentize($dark, .87) 40%);
	position: relative;
	border-radius: 3px;

	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../images/marble.jpg');
		z-index: -1;
		opacity: .7;
		border-radius: 3px;
	}
}


// #tagline{
// 	position: relative;	
// 	top: -98vh;
// }



#tagline-text{
	//border: 1px solid red;
	font-size: 3.0vw;
	line-height: 1.1;
	//padding-right: $container-fluid-padding;
	color: darken($medium, 5%);
	//white-space: nowrap;
	//word-wrap: normal;
	//color: white;
	//text-shadow: 0px 0px 60px $dark;
}


#intro-link{
	.button{
		//@extend .white;
		//text-shadow: 0px 0px 60px $dark;
	}
}


.home #impact{
	@extend .padded;
	padding-bottom: 0;
}

#scrolly{
	//display: none;
}


#home-thinking{
	.block-background{
		border-radius: 3px;
		&:after{
			background: -webkit-linear-gradient(35deg, transparentize($dark, .4) 0%, transparentize($dark, .3) 100%);
			border-radius: 3px;
		}
	}

}

#home-news{
	.card-news{
		//@extend .col-6;
		margin-bottom: $container-fluid-padding;
	}
}



