
$menu-width: 400px;
//$button-offset: $menu-width + 10px;
$menu-transition: .5s;
$menu-padding: 60px;

#nav,#content,#footer{
	//transform: translateX(0);
	transition: transform $menu-transition;
}

#menu-button{
	display: flex;
	@extend .justify-content-end;
	@extend .align-items-end;
	height: $nav-height;
	top: 0px;
	top: 8px;
	position: fixed;
	right: 12px;
	//right: $container-fluid-padding;
	//right: 0;
	z-index: 10;
	
	// top:0;
	// right: 0;


	@media screen and (max-width: $md) {
		right: $container-fluid-padding-md;
	}

	@media screen and (max-width: $sm) {
		right: $container-fluid-padding-mobile;
	}

	a{
		display: block;
		width: $menu-width;
		text-align: right;
		font-size: 19px;
		@extend .tracked-less;
		//height: inherit;
		// @extend .align-items-center;
		// @extend .d-flex;
		// @extend .justify-content-end;
		

		span{
			background-image: none !important;
			//background: transparentize(white, 0);
			background: white;
			padding: 5px 15px;
			color: darken($medium,10%);
			border-radius: 2px;
			position: relative;
			display: inline-block;

			//transform: rotate(90deg) translate(100px,-25px);
			
			//mix-blend-mode: difference;
			// width: 60px;
			// height: 20px;
			// display: block;
			// float: right;
			// //background-image: url('./../images/menu-button.png');
			// background-size: 60px 20px;
			// background-repeat: no-repeat;
		}

		&:hover{
		   	//cursor: context-menu;

		   	span{
		   		//text-decoration: underline;
		   	}
		   }
		}

	}

	#menu{
		position: fixed;
		height: 100%;
		top: 0;
		width: $menu-width;
		z-index: 9;
		background: darken($ultra-light, 2%);
		border-left: 1px solid $light;
		right: -$menu-width + 0px;
		transition: right $menu-transition;
		padding: $menu-padding; 
		border-left: 1px solid #efefef;
		margin-top: 0;

		&.open{
			transition: right $menu-transition;
			right: 0;
		}

		ul{
			margin-top: 20px;
		}

		li{

			a{
				display: block;
				padding: 10px 0;
				margin-bottom: 15px;

				span{
					font-size: 27px;
					border-bottom: 3px solid transparent;
				}

				&:hover{

					span{
						color: $dark;
						border-color: $brand;
					}
				}

				@media screen and (max-width: $sm) {
					font-size: 21px;
				}

			}
		}
	}

	#menu-blanket{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 8;
		left: 200%;
		@include transition(opacity .1s);
		opacity: 0;
	//background: transparentize($ultra-light, .5);

	&:hover{
		cursor: url("../images/close.png"), auto;
	}
}


body.menu-open{
	#menu-button{
		//transition: right 0, transform $menu-transition;
		
		margin-right: -3px;

		a{
			position: relative;
			top: 18px;

			span{
				background: none;
				font-family: 'modern_pictograms_proregular' !important;
				font-size: 40px;
			}
		}

		@media screen and (max-width: $sm) {
			right: -70px;
			a{
				font-size: 20px;
			}
		}

	}

	#menu-blanket{
		left: 0;
		opacity: 1;
	}

	#nav,#content,#footer{
		transition: transform $menu-transition;
		transform: translateX(-$menu-width);
	}
}