
$hero-height: 69vh;

.page-hero,.project-hero{
	height: $hero-height;
	
	.page-hero-image{
		//border: $container-fluid-padding solid white;
		width: calc(100% - #{$container-fluid-padding * 2});
		height: calc(100% - #{$container-fluid-padding});
		left: $container-fluid-padding;
		top: $container-fluid-padding;
		overflow: hidden;

		&:after{
			//background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 90%, rgba(255,255,255,0.5) 100%);
			//background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 90%,rgba(255,255,255,0.5) 100%);
			//background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 90%,rgba(255,255,255,0.5) 100%);
			//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );

		}
	}
}

.page-template-default{

	#content{
		margin-top: $container-fluid-padding;
	}

	.page-hero{
		//margin-bottom: $container-fluid-padding;
	}
}


.page-title{
	font-size: 21px;
	@extend .uppercase;
	margin-top: 125px;
	@extend .bold;
	color: $medium;
	@extend .tracked-less;

	span{
		@extend .bold;
		color: $medium;
		//background: white;
		//padding: 15px 5px;
	}

	@media screen and (max-width: $sm) {
		font-size: 17px;
	}

}


.page-intro{

}


//projects page
.page-id-21 .page-intro{
	padding-bottom: 2em;
}


$sidebar-fixed-top: $container-fluid-padding;

.page-sidebar{
	position: absolute;
	top: calc( #{$hero-height} + #{$sidebar-fixed-top});
	margin-top: 0;
	//margin-top: -65px;
	z-index: 3;
	left: $container-fluid-padding;
	width: calc( ( ( 100% - #{$container-fluid-sum} ) / 4 ) - 40px );
	max-width: 300px;
	//padding: 25px 20px;
	//background: white;
	//padding: 25px 0;
	//border: 1px solid $medium;

	&.after{
		position: fixed;
		top: $sidebar-fixed-top;
		//margin-top: -25px; //align sidebar background to section content
		margin-top: 0; //align page title to section content
	}

	@media screen and (max-width: $lg) {
		width: calc( ( ( 100% - #{$container-fluid-sum} ) / 3 ) - 40px );
	}

	@media screen and (max-width: $md) {
		width: calc( ( ( 100% - #{$container-fluid-sum-md} ) / 3 ) - 40px );
		left: $container-fluid-padding-md;
	}


	@media screen and (max-width: $sm) {
		position: static;
		width: 100%;
		max-width: none;
		padding: $container-fluid-padding-mobile;
		border: none;
		border-bottom: 1px solid $medium;
		margin: 0;

		&.after{
			position: static;
		}
	}

	.page-title{
		margin-top: 0;
		margin-bottom: 40px;
		//color: $dark;

		span{
			//color: $dark;
		}

		@media screen and (max-width: $sm) {
			margin-bottom: 20px;
		}
	}

	li{
		margin-bottom: 18px;
		//text-indent: 5px;

		a{
			font-size: 20px;
			border-bottom: 2px solid transparent;
			color: lighten($dark,7%);

			@media screen and (max-width: $sm) {
				font-size: 14px;
			}

			&.spy-active{
				border-bottom: 2px solid lighten($dark,7%);
			}

			&:hover{
				color: $dark;
				border-bottom: 2px solid $light;
			}
		}
	}
}


.page-section{
	padding-top: $sidebar-fixed-top;
	padding-bottom: $sidebar-fixed-top;
	//padding-top: 100px;
	//padding-bottom: 100px;
}


#single-intro{

	&.no-hero{
		margin-top: $container-fluid-padding;
		//margin-top: 0;

		.single-title-container{
			margin-top: 0;
		}
	}
}



