
$hero-height: 69vh;

.page-hero,.project-hero{
	height: $hero-height;
	
	.page-hero-image{
		width: calc(100% - #{$container-fluid-padding * 2});
		height: calc(100% - #{$container-fluid-padding});
		left: $container-fluid-padding;
		top: $container-fluid-padding;
		overflow: hidden;

		@media screen and (max-width: $md) {
			width: calc(100% - #{$container-fluid-padding-md * 2});
			height: calc(100% - #{$container-fluid-padding-md});
			left: $container-fluid-padding-md;
			top: $container-fluid-padding;
		}

		@media screen and (max-width: $sm) {
			width: calc(100% - #{$container-fluid-padding-mobile * 2});
			height: calc(100% - #{$container-fluid-padding-mobile} - #{$nav-height-mobile});
			left: $container-fluid-padding-mobile;
			top: $nav-height-mobile;

		}
	}
}

//
.page-id-668{

	#content{
		margin-top: $container-fluid-padding;
	}

}


.page-title{
	font-size: 20px;
	@extend .uppercase;
	margin-top: 160px;
	color: $medium;
	@extend .tracked;
	@extend .bold;

	span{
		@extend .bold;
	}

	@media screen and (max-width: $lg) {
		font-size: 18px;
		margin-top: 140px;
	}

	@media screen and (max-width: $sm) {
		font-size: 13px;
		margin-top: 100px;
	}

}


.page-section-intro-text{
	@extend .bold;
	color: desaturate(darken($brand,40%),30%);
	color: #444455;
	color: darken($medium,9%);
}


.page-section-intro-text-2{
	font-size: 23px;

	@media screen and (max-width: $lg) {
		font-size: 20px;
	}


	@media screen and (max-width: $md) {
		font-size: 18px;
	}


	@media screen and (max-width: $sm) {
		font-size: 15px;
	}
}


//projects page
.page-id-21 .page-intro{
	padding-bottom: 2em;

	@media screen and (max-width: $lg) {
		padding-bottom: 0em;
	}
}


$sidebar-fixed-top: $container-fluid-padding;

.page-sidebar{
	position: absolute;
	top: calc( #{$hero-height} + #{$container-fluid-padding});
	margin-top: 0;
	z-index: 3;
	left: $container-fluid-padding;
	width: calc( ( ( 100% - #{$container-fluid-sum} ) / 4 ) - 40px );
	max-width: 300px;
	opacity: 1;
	transition: opacity .3s;

	&.sticky-hidden{
		transition: opacity .3s;
		opacity: 0;
	}

	&.after{
		position: fixed;
		top: $sidebar-fixed-top;
		margin-top: 0; //align page title to section content
	}

	@media screen and (max-width: $lg) {
		width: calc( ( ( 100% - #{$container-fluid-sum} ) / 3 ) - 40px );
	}

	@media screen and (max-width: $md) {
		width: calc( ( ( 100% - #{$container-fluid-sum-md} ) / 3 ) - 40px );
		left: $container-fluid-padding-md;
	}


	@media screen and (max-width: $sm) {
		width: 100%;
		//height: $sidebar-height-mobile;
		background: white;
		top: calc( #{$hero-height} - #{$container-fluid-padding-mobile} );
		left: 0;
		margin-top: 0;
		max-width: none;
		padding: 15px $container-fluid-padding-mobile 5px $container-fluid-padding-mobile;
		border: none;
		border-bottom: 1px solid $ultra-light;
		margin: 0;

		&.after{
			top: $nav-height-mobile - 10px;
			border-bottom: 1px solid $light;
		}

		.page-sidebar-list{
			display: inline;
			position: relative;	
			top: 3px;

			li{
				display: inline-block;
				margin-right: 10px;
				margin-bottom: 8px;
				vertical-align: top;
				line-height: 1;

				br{
					display: none;
				}
			}
		}

	}

	.page-title{
		margin-top: 0;
		margin-bottom: 40px;

		@media screen and (max-width: $sm) {
			margin-bottom: 10px;
			display: inline;
			margin-right: 20px;
		}
	}

	li{
		margin-bottom: 20px;

		a{
			font-size: 20px;
			border-bottom: 2px solid transparent;
			color: lighten($dark,7%);
			display: inline-block;
			line-height: 1.2;

			@media screen and (max-width: $md) {
				font-size: 16px;
			}

			@media screen and (max-width: $sm) {
				border-bottom: 1px solid transparent;
				font-size: 13px;
			}

			&.spy-active{
				border-bottom: 2px solid lighten($dark,7%);

				@media screen and (max-width: $sm) {
					border-bottom: 1px solid lighten($dark,7%);
				}
			}

			&:hover{
				color: $dark;
				border-bottom: 2px solid $light;
			}
		}
	}
}


.page-sidebar-header,.page-sidebar-body{
	@media screen and (max-width: $sm) {
		display: inline;
	}
	
}


.br-large{
	display: none;
	@media screen and (max-width: $lg) {
		display: block;
	}
}

.br-medium{
	display: none;
	@media screen and (max-width: $md) {
		display: block;
	}
}



.page-section{
	padding-top: $container-fluid-padding;
	padding-bottom: $container-fluid-padding;


	@media screen and (max-width: $sm) {
		&.page-section-first{
			margin-top: 80px;
		}
		padding-top: $container-fluid-padding / 2;
		padding-bottom: $container-fluid-padding / 2;
	}
}


#single-intro{

	&.no-hero{
		margin-top: 125px;

		.single-title-container{
			margin-top: 0;
		}
	}

	.category-label{
		font-size: 14px;
		white-space: nowrap;
		line-height: 17px;
		text-transform: uppercase;
		color: $medium;
		@extend .bold;

		@media screen and (max-width: $sm) {
			font-size: 12px;
		}
	}

	.single-categories{
		max-width: 61%;

		@media screen and (max-width: $sm) {
			max-width: 80%;
		}
	}
}

#flexible-content{
	.fc-rich-text{
		.fc-col-primary{
			@extend .col-right;
			@extend .offset;
			//background: yellow;
		}
	}
}

.related-title{
	@media screen and (max-width: $sm) {
		margin-bottom: 2em;
	}
}



