

.page-id-11{
	.page-sidebar{
		//height: 100px;
	}
}


.expertise-lists,.clients-list{
	li{
		margin-bottom: .5em;
	}
}

#design-philosophy{

	.block-background{
		filter: brightness(.95);
	}
	h3,h2{
		text-shadow: 0px 0px 90px transparentize($dark, .6);
	}
}


.process-step-col{
	&:nth-child(even){
		@extend .offset-1;
	}
}



#distudio{
	.block-background{
		opacity: .3;
	}
}


#distudio-logo{
	img{
		width: 130px;
	}
}

.distudio-logo-left{
	img{
		display: block;
		//margin: 0 auto;
	}
}


