
//press page
.page-id-19{
	#page-intro{
		.row.mb4{
			margin-bottom: 0;
		}
	}

	#press{
		margin-top: -25px;
		@media screen and (max-width: $sm) {
			margin-top: 3em;
		}
		
	}
}

.press{
	position: relative;

	&:hover{
		.press-title{
			opacity: 1;
		}
	}

	.press-title{
		position: absolute;
		bottom: 0px;
		left: 20px;
		width: calc(100% - 40px);
		margin-bottom: 0;
		padding: 10px;
		font-size: 18px;
		color: white;
		opacity: 0;
		@extend .bold;
		line-height: 1.2 !important;

		@media screen and (max-width: $sm) {
			opacity: 1;
		}
	}
}