
//press page
.page-id-19{
	#page-intro{
		.mb4{
			margin-bottom: 0;
		}
	}

	#press{
		margin-top: -25px;
		@media screen and (max-width: $sm) {
			margin-top: 3em;
		}
		
	}
}

.press-list{
	columns: 4;
	column-gap: 40px;

	@media screen and (max-width: $lg) {
		columns: 3;
		column-gap: 30px;
	}

	@media screen and (max-width: $sm) {
		columns: 2;
		column-gap: 20px;
	}
}

.press{
	position: relative;
	display: inline-block;
	margin-bottom: 2.5em;

	img{
		filter: brightness(.9);
	}

	&:hover{
		.press-title{
			opacity: 1;
		}
	}

	.press-title{
		margin-bottom: 0;
		padding: 10px 10px 10px 0;
		font-size: 17px;
		@extend .bold;
		line-height: 1.2 !important;

		@media screen and (max-width: $lg) {
			font-size: 15px;
		}

		@media screen and (max-width: $sm) {
			font-size: 13px;
		}
	}
}