
.page-id-21{

	&.sticky-nav-after{
		padding-top: 90px;
	}
}



#filters{
	z-index: 2;
	height: 100px;
	//border: 1px solid $light;

	&.after{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: white;

	}
}

.filter-title{
	cursor: pointer;
	//text-decoration: underline;
	//border-bottom: 1px solid;
	margin-bottom: 0;
	font-size: 21px;
	margin-top: 30px;

	.icon{
		// text-decoration: none;
		// border: none;
		&:before{
			// text-decoration: none;
			// border: none;
			display: inline-block;
			font-size: 30px;
			margin-left: 10px;
		}
	}
}

.filter-current{
	font-size: 15px;
	color: $medium;
	@extend .tracked-less;
	margin-top: 2px;

	&:before{
		font-family: 'modern_pictograms_proregular';
		content: '’';
		font-size: 24px;
		line-height: 16px;
		margin-right: 5px;
		position: relative;
		top: 2px;
		display: inline-block;
	}
}


.filter-buttons-list{
	position: absolute;
	background: transparentize(white, .02);
	display: none;
	width: calc(100% - 20px);
	padding: 105px 15px 20px 15px;
	left: 10px;
	top: -15px;
	z-index: -1;
	border-radius: 2px;
	//border: 1px solid $light;

	&.open{
		display: block;
	}

	li{
		//margin-bottom: 15px;

		a{
			padding: 10px 0;
			display: block;
			font-size: 18px;
			line-height: 1.1;
		}
	}

}


.filter-button{
	//display: block;
	padding: 2px;
	//border-bottom: 2px solid transparent;

	&.filter-active{
		@extend .bold;
	}

	&:hover{
		color: $dark;
		text-decoration: underline;
		//background: $brand;
		//color: white;
	}
}


.filter-target{
	display: none;

	&.filter-show{
		display: block;
	}
}



/* GRID */

$grid-item: 32.75%;
$grid-item-sm: 48%;
$grid-gutter: .875%;
$grid-gutter-sm: 4%;

#grid{
	padding-bottom: 10em;
	overflow: hidden;

	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.grid-sizer,.grid-item{
	width: $grid-item;

	@media screen and (max-width: $sm) {
		width: $grid-item-sm;
	}
}

.gutter-sizer{
	width: $grid-gutter;

	@media screen and (max-width: $sm) {
		width: $grid-gutter-sm;
	}	
}

.card-project{
	position: relative;	
	margin-bottom: $grid-gutter;
	width: $grid-item;

	@media screen and (max-width: $sm) {
		width: $grid-item-sm;
		margin-bottom: $grid-gutter-sm;
	}	

	img{
		display: block;
	}	

	@media screen and (min-width: $md+1) {
		&:hover{
			.project-image:after{
				//background: $tile-hover;			
			}
		}		
	}

}




/* PROJECT SINGLE */

.project-hero{
	height: 100vh;

	.page-hero-image{
		height: calc(100% - #{$container-fluid-padding * 2});
		//\ height: 100%;
		// width: 100%;
		// left: 0;
		// \top: 0;
	}

}

.project-intro{
	@extend .padded-bottom;

	.project-categories{
		max-width: 61%;
	}

	.project-category-label{
		font-size: 15px;
		white-space: nowrap;
	}
}

.single-title-container{
	margin-top: -90px;
	padding-top: 20px;
	padding-bottom: 20px;
}


.no-hero{
	.single-title-container{
		margin-top: $container-fluid-padding;
	}
}

.single-title{
	font-size: 36px;
	//padding: 20px 40px;
	//background: white;
}

.project-client,.project-location{
	//padding-left: 40px;
}

.single-intro-text{
	font-size: 30px;
}


.project-images-container{
	columns: 3;
	column-gap: 20px;

	.project-image{
		margin-bottom: 20px;
		position: relative;

		&:after{
			content: '´';
			font-family: 'modern_pictograms_proregular';
			display: block;
			position: absolute;
			top: 10px;
			right: 10px;
			background: transparentize($light, 0);
			width: 30px;
			height: 30px;
			text-align: center;
			font-size: 36px;
			line-height: 33px;
			border-radius: 100px;
			z-index: 1;
			opacity: 0;
			transition: opacity .1s;
			//border: 1px solid white;
		}

		&:hover{
			&:after{
				transition: opacity .1s;
				opacity: 1;
			}
		}

		a:hover{
			cursor: zoom-in;
		}

		a{
			display: block;
		}
	}
}


.single-projects{
	#blanket{
		//display: none !important;
	}

	#modal-close{
		.icon:before{
			color: white;
		}
	}
}

#modal-project-images{
	background: $dark;

	.slide-image{
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}

}