

$filter-width: 250px;
$filter-bar-height: 100px;
$filter-bar-height-md: 70px;
$filter-bar-height-sm: 50px;


.page-id-21{

	&.sticky-nav-after{
		padding-top: $filter-bar-height;

		@media screen and (max-width: $md) {
			padding-top: $filter-bar-height-md;
		}

		@media screen and (max-width: $sm) {
			padding-top: $filter-bar-height-sm;
		}

		#filters{
			border-bottom: 1px solid $light;

			@media screen and (max-width: $sm) {
				border-bottom: 1px solid lighten($medium,7%);
			}
		}
	}

	.page-section-intro-text{
		margin-bottom: 0;

		@media screen and (max-width: $md) {
			margin-bottom: 1em;
		}
	}

}


#filters{
	z-index: 2;
	height: $filter-bar-height;

	@media screen and (max-width: $md) {
		height: $filter-bar-height-md;
	}

	@media screen and (max-width: $sm) {
		height: $filter-bar-height-sm;
		border-bottom: 1px solid darken($light,7%);
	}

	&.after{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: white;

		@media screen and (max-width: $sm) {
			top: $nav-height-mobile;
		}
	}
}

#filters-secondary{
	position: relative;

	@media screen and (max-width: $sm) {
		left: 10px;
	}
}

.filter-title{
	cursor: pointer;
	margin-bottom: 0;
	font-size: 21px;
	margin-top: 31px;
	color: darken($medium,3%);

	@media screen and (max-width: $md) {
		margin-top: 21px;
		font-size: 17px;
	}

	@media screen and (max-width: $sm) {
		font-size: 16px;
		margin-top: -2px;
	}

	@media screen and (max-width: 1025px) {
		&:hover{
			.icon:before{
				transition: all .4s;
				transform: rotate(-45deg) translate(0,1px);
			}
		}
	}

	.icon{
		&:before{
			display: inline-block;
			font-size: 30px;
			margin-left: 0px;
			transition: all .4s;
			transform: rotate(0deg) translate(0px);
		}
	}
}


.filter-menu.open{
	.filter-title{
		.icon:before{
			transform: rotate(-180deg) translate(0,3px);
		}
	}
}

.filter-current{
	font-size: 15px;
	color: darken($medium,3%);
	@extend .tracked-less;
	margin-top: 4px;
	opacity: 0;
	transition: opacity .5s; 

	@media screen and (max-width: $md) {
		margin-top: -3px;
		font-size: 13px;
	}

	@media screen and (max-width: $sm) {
		margin-top: -4px;
		font-size: 12px;
	}

	&.active{
		opacity: 1;
	}

	@media screen and (max-width: 1025px) {
		&:hover{
			cursor: pointer;
			color: $dark;

			&:before{
				color: $dark;
				transition: all .3s;
				transform: scale(1.3);
			}
		}
	}

	&:before{
		font-family: 'modern_pictograms_proregular';
		content: '’';
		font-size: 24px;
		line-height: 16px;
		margin-right: 5px;
		position: relative;
		top: 3px;
		display: inline-block;
		transition: all .3s;
		transform: scale(1);

		@media screen and (max-width: $md) {
			font-size: 23px;
			margin-right: 0;
		}

		@media screen and (max-width: $sm) {
			font-size: 20px;
			margin-right: 0;
		}
	}
}


.filter-buttons-list{
	position: absolute;
	background: transparentize(white, .02);
	display: none;
	width: 100%;
	max-width: $filter-width;
	padding: 130px 15px 20px 15px;
	left: 10px;
	top: -15px;
	z-index: -1;
	border-radius: 2px;

	&.open{
		display: block;
	}

	@media screen and (max-width: $md) {
		padding-top: 100px;
	}

	@media screen and (max-width: $sm) {
		padding: 10px 10px 10px 10px;
		left: 0;
		top: $filter-bar-height-sm;
		margin-top: -1px;
		width: calc(100% - 15px);
		border-radius: 0;
		z-index: 3;
		border: 1px solid darken($light,7%);
		border-top: 1px solid white;
	}

	li{
		a{
			padding: 10px 0;
			display: block;
			font-size: 18px;
			line-height: 1.1;

			@media screen and (max-width: $sm) {
				font-size: 15px;
				padding: 5px 0;
			}
		}
	}

}


.filter-button{
	padding: 2px;

	&.filter-active{
		@extend .bold;
		font-weight: normal !important;

		&:hover{
			text-decoration: none;
		}
	}

	&:hover{
		color: $dark;
		text-decoration: underline;
	}
}



/* GRID */

$grid-item: 32.75%;
$grid-item-sm: 48%;
$grid-gutter: .875%;
$grid-gutter-sm: 4%;


.page-id-21{
	#projects-grid{
		&.grid-loading{
			background: #fbfbfb;
		}

		&.grid-loaded{
			#grid{
				opacity: 1;
			}
		}
	}
}




#grid-loading{
	position: absolute;
	left: 50%;
	width: $container-fluid-padding*2;
	top: $container-fluid-padding*2;
	margin-left: -$container-fluid-padding;
	height: 7px;
	background: #ddd;
	overflow: hidden;

	&.grid-loaded{
		display: none;
	}

	&:after{
		content: '';
		position: absolute;
		width: 50%;
		height: 100%;
		background: $brand;
		animation: slide 1.5s infinite;
		left: -33%;
	}
}

@keyframes slide{
	0% { left: -33%; }
	//33% { left: 33%; }
	//66% { left: 66%; }
	100% { left: 100%; }
}



#grid{
	padding-top: $grid-gutter;
	padding-bottom: 10em;
	overflow: hidden;
	min-height: 100vh;
	transition: opacity .2s;
	opacity: 0;

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	@media screen and (max-width: $sm) {
		padding-top: $grid-gutter-sm;
	}
}



.grid-sizer,.grid-item{
	width: $grid-item;

	@media screen and (max-width: $sm) {
		width: $grid-item-sm;
	}
}

.gutter-sizer{
	width: $grid-gutter;

	@media screen and (max-width: $sm) {
		width: $grid-gutter-sm;
	}	
}

.card-project{
	position: relative;	
	margin-bottom: $grid-gutter;
	width: $grid-item;

	@media screen and (max-width: $sm) {
		width: $grid-item-sm;
		margin-bottom: $grid-gutter-sm;
	}	

	@media screen and (max-width: 1024px) {
		.card-project-title{
			opacity: 1 !important;
		}

		img{
			filter: brightness(.8);
		}
	}

	img{
		display: block;
		transition: all .2s;
	}	

	@media screen and (min-width: 1025px) {
		&:hover{

			img.reveal{
				filter: brightness(.8);
			}
			.project-image:after{
				//background: $tile-hover;			
			}
		}		
	}

}




/* PROJECT SINGLE */

.project-hero{
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);

	.page-hero-image{
		height: calc(100% - #{$container-fluid-padding * 2});

		@media screen and (max-width: $md) {
			height: calc(100% - #{$container-fluid-padding-md * 2});
		}
	}

}

.project-intro{
	@extend .padded-bottom;

	@media screen and (max-width: $sm) {
		padding-bottom: 0px;
	}

	.project-categories{
		max-width: 61%;
	}

	.project-category-label{
		font-size: 15px;
		white-space: nowrap;
	}

	.single-title-container{
		margin-top: -90px;
		padding-top: 20px;
		padding-bottom: 20px;

		@media screen and (max-width: $md) {
			margin-top: -70px;
		}
	}

}


.no-hero{
	.single-title-container{
		margin-top: $container-fluid-padding;
	}
}

.single-title-row{
	@media screen and (max-width: $lg) {
		margin-bottom: 2em;
	}
}

.single-title{
	font-size: 38px;
	color: lighten($thinking,5%);

	@media screen and (max-width: $lg) {
		font-size: 32px;
	}

	@media screen and (max-width: $md) {
		font-size: 27px;
	}

	@media screen and (max-width: $sm) {
		font-size: 24px;
	}
}


.single-intro-text{
	font-size: 30px;

	@media screen and (max-width: $lg) {
		font-size: 24px;
	}

	@media screen and (max-width: $md) {
		font-size: 20px;
	}

	@media screen and (max-width: $sm) {
		font-size: 17px;
		margin-top: 50px;
	}
}


.project-images-container{
	//columns: 3;
	//column-gap: 20px;

	@media screen and (max-width: $sm) {
		//columns: 2;
		//column-gap: 10px;
	}

	.project-image{
		margin-bottom: $grid-gutter;
		position: relative;

		@media screen and (max-width: $sm) {
			margin-bottom: $grid-gutter-sm;
		}

		&:after{
			content: '´';
			font-family: 'modern_pictograms_proregular';
			display: block;
			position: absolute;
			top: 10px;
			right: 10px;
			background: transparentize($light, 0);
			width: 30px;
			height: 30px;
			text-align: center;
			font-size: 36px;
			line-height: 33px;
			border-radius: 100px;
			z-index: 1;
			opacity: 0;
			transition: opacity .1s;
			//border: 1px solid white;
		}

		&:hover{
			&:after{
				transition: opacity .1s;
				opacity: 1;
			}
		}

		a:hover{
			cursor: zoom-in;
		}

		a{
			display: block;
		}
	}
}


.single-projects{
	#blanket{
		//display: none !important;
	}

	#modal-close{
		.icon:before{
			color: white;
			text-shadow: 0px 0px 5px black;
		}
	}
}

.slick-project-modal{

}

$modal-offset: 70px;
$dots-offset: $modal-offset + 20px;

#modal-project-images{
	background: darken($dark,5%);

	.slick-slide{
		height: 100vh;
	}

	.slide-image-container{
		height: calc(100% - #{$modal-offset * 2});
		margin-top: $modal-offset;
	}

	.slide-image{
		height: 100%;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;

	}

	.slide-caption-container{
		position: absolute;
		bottom: 0;
		height: $modal-offset;
		width: 100%;
		//border: 1px solid white;
		@extend .container-fluid;
		@extend .flex-center;
	}

	.slide-caption{
		color: white;
		margin-bottom: 0;
		line-height: 1.2 !important;
	}

	.slick-arrow{
		text-shadow: 0px 0px 8px black;
	}

	.slick-dots{
		//text-align: center;
		bottom: $dots-offset;
		bottom: auto;
		top: 7px;
		width: 66%;
		transform: none;
		left: 40px;

		@media screen and (max-width: $sm) {
			left: 20px;
		}
	}

}


#project-related{
	@media screen and (max-width: $sm) {
		.col-left{
			margin-bottom: 20px;
		}
		padding-top: 50px;
		padding-bottom: 50px;
	}
}