
$thinking: darken($brand,56%);

.page-id-23,.single-thoughts{
	background: $thinking; 

	#menu-button{
		span{
			background: $thinking; 
			color: white;
			&:hover{
				color: white;
			}
		}
	}

	&.menu-open{
		#menu-button{
			span{
				color: $dark;
				&:hover{
					color: $dark;
				}
			}
		}
	}

	*{
		color: white;
	}

	.single-title-container{
		background: none !important;
	}

	.related{
		.thought-title{
			color: white;
		}
	}

	#footer{
		background: $thinking;
	}
}


#thoughts-grid{


}

.card-thought{
	// border: 1px solid $medium;
	position: relative;
	margin-bottom: $container-fluid-padding;
	border-radius: 4px;
	overflow: hidden;

	.card-thought-text{
		//height: 100%;
		//padding: 40px;
	}	

	.card-thought-title{
		@extend .bold;
		//margin-bottom: 50px;
		font-size: 50px;

		span{
			transition: all 1s;
			@extend .bold;
			//border-bottom: 5px solid $brand;
			//line-height: 1.5;
			//font-family: 'NewParis Headline Trial' !important;
		}
	}

	.card-thought-excerpt{
		margin-top: 10px;
		//@extend .italic;
		font-size: 36px;
		
		//width: 80%;
		//font-style: italic;
		margin-bottom: 50px;
		//font-family: 'NewParis Headline Trial' !important;
		//@extend .bold;
	}

	.card-thought-excerpt,.card-thought-author{
		padding-left: 3vw;
	}

	.card-thought-background-image{
		overflow: hidden;
		&:after{
			//background: transparentize($brand, .2);
			transition: all 1s;
			background: -webkit-linear-gradient(40deg, transparentize(darken($dark,30%), .7) 0%, transparentize(darken($dark,30%), .5) 50%);
		}
	}

	.card-thought-image.row{
		overflow: hidden;
	}

	*{
		//color: $dark;
	}

	&:hover{

		.card-thought-background-image{
			&:after{
				transition: all 1s;
				//background: -webkit-linear-gradient(40deg, transparentize(darken($brand,30%), .23) 0%, transparentize(darken($brand,30%), .07) 50%);
			}
		}
		.card-thought-title span{
			//border-bottom: 5px solid $brand;
		}
	}

}




/* SINGLE THOUGHT */

.single-thoughts{

	.single-title-container{
		margin-top: 10px;
	}

	.single-title{
		font-size: 60px;
		@extend .bold;
	}

	.single-intro-text{
		//font-style: italic;
	}
}




